<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='/css/style.css' rel='stylesheet' type='text/css' />
  <title>API - Dados Vacinação</title>
</head>
<body>
  <div class="background">
    <div class="content">
      <h1>Bem-vindo a API de dados da vacinação do Ministério da Saúde</h1>
      <div class="buttons">
        <a class="button green" href='/doses'>Doses Por Município</a>
        <a class='button red' href='/doses?type=csv'>Doses por Município em CSV</a>
      </div>
      <!-- <p>Acesso disponível <a href='https://qsprod.saude.gov.br/extensions/DEMAS_C19Vacina/DEMAS_C19Vacina.html'>aqui</a></p> -->
    </div>
  </div>
</body>
</html>